In [26]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMINUSER\Downloads\netflix\netflix_titles.csv",encoding='utf 8')

In [27]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-T0IMGJF\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [28]:
df.to_sql('netflix_raw', con=conn, index=False, if_exists='replace')
conn.close()

In [29]:
df.shape

(8807, 12)

In [30]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [31]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [32]:
df['show_id'] = df['show_id'].astype('string')
df['type'] = df['type'].astype('category')
df['title'] = df['title'].astype('string')
df['director'] = df['director'].astype('string')
df['cast'] = df['cast'].astype('string')
df['country'] = df['country'].astype('string')
df['date_added'] = pd.to_datetime(df['date_added'], format='mixed')
df['rating'] = df['rating'].astype('category')
df['listed_in'] = df['listed_in'].astype('string')
df['description'] = df['description'].astype('string')

In [33]:
df['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       nan, '179 min', '11 Seasons', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       '191 min'], dtype=object)

In [34]:
df.dtypes

show_id         string[python]
type                  category
title           string[python]
director        string[python]
cast            string[python]
country         string[python]
date_added      datetime64[ns]
release_year             int64
rating                category
duration                object
listed_in       string[python]
description     string[python]
dtype: object

In [35]:
engine = sal.create_engine('mssql://DESKTOP-T0IMGJF\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()
df.to_sql('netflix_raw', con=conn, index=False, if_exists='replace')
conn.close()

In [36]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [25]:
df['title'].str.len().max()

104

In [37]:
df['show_id'].str.len().max()

5

In [38]:
df['type'].str.len().max()

7

In [39]:
df['director'].str.len().max()

208

In [40]:
df['cast'].str.len().max()

771

In [41]:
df['country'].str.len().max()

123

In [42]:
df['rating'].str.len().max()

8.0

In [43]:
df['duration'].str.len().max()

10.0

In [44]:
df['listed_in'].str.len().max()

79

In [45]:
df['description'].str.len().max()

248

In [47]:
engine = sal.create_engine('mssql://DESKTOP-T0IMGJF\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()
df.to_sql('netflix_raw', con=conn, index=False, if_exists='append')
conn.close()

In [59]:
#removing null values

df_cleaned = df.dropna()

In [61]:
engine = sal.create_engine('mssql://DESKTOP-T0IMGJF\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()
df_cleaned.to_sql('netflix_raw', con=conn, index=False, if_exists='append')
conn.close()

In [62]:
df_cleaned.shape

(5332, 12)

In [63]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   string
 1   type          5332 non-null   category
 2   title         5332 non-null   string
 3   director      5332 non-null   string
 4   cast          5332 non-null   string
 5   country       5332 non-null   string
 6   date_added    5332 non-null   datetime64[ns]
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   category
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   string
 11  description   5332 non-null   string
dtypes: category(2), datetime64[ns](1), int64(1), object(1), string(7)
memory usage: 469.4+ KB

In [64]:
df_cleaned.describe()

                          date_added  release_year
count                           5332   5332.000000
mean   2019-04-28 19:27:46.316579072   2012.742123
min              2008-01-01 00:00:00   1942.000000
25%              2018-04-06 00:00:00   2011.000000
50%              2019-06-17 00:00:00   2016.000000
75%              2020-06-26 06:00:00   2018.000000
max              2021-09-24 00:00:00   2021.000000
std                              NaN      9.625831

In [55]:
df_cleaned.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [65]:
df[df['show_id']=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,2018-02-28,2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [66]:
#removing duplicates

df_cleaned = df_cleaned.drop_duplicates()

In [67]:
df_cleaned.shape

(5332, 12)